.InputGrid {

}
.Buttons {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	list-style: none;
}
.Buttons li {
	margin: 5px;
}
.InputGrid input {
	border: 1px dotted #000;
	height: 15px;
	width: 15px;
	font-size: 13px;
	text-align: center;
	outline: 0;
}
.InputGrid input:focus {
	border: 2px solid #000;
	background-color: #afe3f0;
}
.Left {
	border-left: 2px solid #000!important;
}
.Top {
	border-top: 2px solid #000!important;
}
.Right {
	border-right: 2px solid #000!important;
}
.Bottom {
	border-bottom: 2px solid #000!important;
}
.Alert {
	border: 2px solid #F00 !important;
}
.Locked {
	background-color: lightgrey;
}
.Modal {
	display: flex;
	align-items: center;
	justify-content: center;
}
.Confirmation {
	outline: 0;
	width: 70%;
	border-radius: 5px;
	padding: 10px 20px;
	background-color: white;
	box-shadow: 0 0 20px black;
}
.PrimaryButton {
	background-color: #04b4e0 !important;
}
.SecondaryButton {
	background-color: #e04f4f !important;
}
.Confirmation .PrimaryButton {
	font-size: 8px !important;
}
.Confirmation .SecondaryButton {
	font-size: 8px !important;
}
@media only screen and (min-width: 280px) {
	.InputGrid input {
		font-size: 15px;
		height: 20px;
		width: 20px;
	}
}
@media only screen and (min-width: 600px) {
	.InputGrid input {
		font-size: 20px;
		height: 25px;
		width: 25px;
	}
	.Confirmation {
		width: 30%;
	}
	.Confirmation .PrimaryButton {
		font-size: 12px !important;
	}
	.Confirmation .SecondaryButton {
		font-size: 12px !important;
	}
}
@media only screen and (min-width: 950px) {
	.InputGrid input {
		height: 30px;
		width: 30px;
	}
}