.InputGrid {

}
.InputGrid ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	list-style: none;
}
.InputGrid ul li {
	margin: 5px;
}
.InputGrid input {
	border: 1px dotted #000;
	height: 30px;
	width: 30px;
	font-size: 20px;
	text-align: center;
	outline: 0;
}
.InputGrid input:focus {
	border: 2px solid #000;
}
.Left {
	border-left: 2px solid #000!important;
}
.Top {
	border-top: 2px solid #000!important;
}
.Right {
	border-right: 2px solid #000!important;
}
.Bottom {
	border-bottom: 2px solid #000!important;
}
.Alert {
	border: 2px solid #F00 !important;
}
.Locked {
	background-color: lightgrey;
}
.Modal {
	display: flex;
	align-items: center;
	justify-content: center;
}
.Confirmation {
	width: 500px;
	background-color: white;
}