.Description {
	margin: 5px 10px 5px 10px;
	padding: 5px 10px 0 10px;
	text-align: left;
	border-right: 0;
	border-bottom: 2px dashed #7ebfd0;
}


@media only screen and (min-width: 1024px) {
	.Description {
		border-bottom: 0;
		border-right: 2px solid #7ebfd0;
	}
}