.Solve {
	display: inline-block;
	text-align: center;

}
.Solve ul {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	list-style: none;
}
.Solve ul li {
	margin: 5px;
}
.Modal {
	display: flex;
	align-items: center;
	justify-content: center;
}
.Confirmation {
	text-align: center;
	color: white;
	outline: 0;
	border: 0;
}
.PrimaryButton {
	background-color: #04b4e0 !important;
}
@media only screen and (min-width: 950px) {
	.Confirmation {
		color: white;
		width: 30%;
	}
}
